.icon-row {
  display: flex;
  justify-content: space-between;
}
.icon-row__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-row__icon i {
  font-size: 27px;
}
.icon-row__icon span {
  height: 30px;
  margin-top: 18px;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
